.preside-editorjs-toolbar  {
	&.preside-editorjs-footbar {
		display : none;
		top     : auto;
		bottom  : 0;

		.preside-editorjs-container {
			display     : flex;
			gap         : 3px;
			align-items : center;
			height      : 45px;

			width           : 100%;
			justify-content : right;
		}
	}
}
