.preside-admin-toolbar-editorjs {
	.navbar-header {
		display     : flex;
		gap         : 10px;
		align-items : center;
		height      : 45px;

		label {
			margin : 0;
		}

		.btn-editorjs  {
			display : none;
		}
	}
}
